.ContactsBlock {
    width: 100%;
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    align-items: center;
}

.support {
    display: flex;
    column-gap: 48px;
    align-items: center;
}

.supportContacts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .contact {
        color: #050D23;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        
    }
    .job {
        color: #77829E;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }
}

.links {
    display: flex;
    column-gap: 32px;
    a {
        color: #050D23;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
    }
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 32px;
}

.outline:hover {
    border: none;
    background-color: #F2F6FF;
    border-radius: 5px;
    color: #1551E5;
}

.container {
    width: 1552px;
}

.flex-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    row-gap: 24px;
}
